.notification-body {
    width: 200px;
    height: 80px;
  
    background-color: rgba(20, 20, 20, 0.95);
    border-radius: 10px;
  
    color: white;
  
    font-family: 'montserrat-r';
  
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 50;

    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    transform:  translate(-50%, -200px);
    opacity: 0;
    
    margin-inline: auto;
    padding: 20px;
  
    transition: all 0.4s;
  
    & h2 {
      text-align: center;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 10px;

      font-size: 18px;
  
      & img {
        width: 30px;
        height: 30px;
      }
    }
  
    & p {
      width: 80%;
      margin-inline: auto;
      text-align: center;
      font-size: 14px;
    }
  }
  