.menu-container {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;

  background-color: black;
  transform: translateX(-100%);

  width: 200vmax;
  height: 100dvh;

  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

  will-change: transform;
}

.burger-btn {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 150;

  display: grid;
  place-items: center;

  background-color: transparent;
  border: none;

  width: 20px;
  height: 20px;

  mix-blend-mode: difference;
  cursor: pointer;
}

.burger-btn span {
  border: 1px solid white;

  width: 20px;

  margin-right: 50%;

  display: inline-block;
}

.menu-options {
  position: fixed;
  z-index: 101;

  width: 100vw;
  height: 100vh;

  display: none;
}

.menu-options__nav {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-options ol {
  padding: 0;
  margin: 0;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.menu-options ol:has(span:hover) span:not(:hover) {
  opacity: 0.3;

  transition: 0.2s;
}

.menu-options li {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.menu-options a {
  text-decoration: none;
}

.text-link__nav {
  color: white;
  font-size: 60px;
  font-family: "montserrat-b";
  text-transform: uppercase;
  text-align: center;

  opacity: 0;
}

.text-link__nav span,
#text-close__nav span {
  position: relative;
  z-index: 101;

  cursor: pointer;

  transition: 0.2s;

  height: 100%;
}

.text-link__nav span:hover,
#text-close__nav span:hover {
  opacity: 1;
}

#text-close__nav {
  font-size: 14px;
  font-family: "montserrat-l";
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
    .text-link__nav {
        font-size: 55px;
      }
}