.form-body {
  width: 90%;
  height: 55%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 43% 57%;
  gap: 10px;

  margin-inline: auto;

  &:has(.loader) button {
    min-height: 45px;
  }

  & .form-body__email {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    & h1 {
      position: relative;
      font-size: 41px;
      font-family: "montserrat-r";

      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

      width: min-content;
      & div {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid black;

        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }
    }
    &>span {
      font-size: 14px;
      font-family: "montserrat-r";
      text-align: left;

      width: 100%;

      margin-inline: auto;
    }
    & ol {
      display: flex;
      flex-direction: column;
      text-align: left;
      & li {
        cursor: pointer;
        width: min-content;
        transition: opacity 0.2s;
      }
      & li > h6 {
        font-size: 14px;
        font-family: 'montserrat-l';
        margin: 0px 0px 5px 0;
      }
    }
    & ol:has(li:hover) li:not(:hover) {
      opacity: 0.5;
    }
  }
}

.form-body form {
  width: 100%;
  height: 100%;

  background-color: white;
  border-radius: 10px;

  padding: 20px 20px 0px 20px;

  & h2 {
    font-family: "montserrat-b";
    text-transform: uppercase;
    font-size: 22px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.form-body form div:nth-child(2),
.form-body form div:nth-child(3),
.form-body form div:nth-child(4) {
  display: flex;
  flex-direction: column;

  font-size: 16px;

  margin: 30px 0px 30px 0px;

  height: 25px;

  position: relative;

  & > label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease;
    font-family: "montserrat-r";
  }

  & > input,
  & > textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    resize: none;
    font-family: "montserrat-r";
  }

  & > input:focus,
  & > input:hover,
  & > textarea:focus,
  & > textarea:hover {
    outline: none;
  }

  & input:-webkit-autofill,
  & input:-webkit-autofill:hover,
  & input:-webkit-autofill:focus,
  & input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  & > input:focus,
  & > textarea:focus {
    border-bottom: 1px solid black;
  }

  &:has(input:valid) label,
  &:has(input:focus) label {
    transform: translateY(calc(-50% - 25px));
  }
}

.form-body form div:nth-child(4) {
  height: 40px;

  & > label {
    position: absolute;
    top: 0%;
    transform: translateY(-0%);
    transition: transform 0.2s ease-in-out;
  }

  &:has(textarea:valid) label,
  &:has(textarea:focus) label {
    transform: translateY(-25px);
  }
}

.form-body form div:nth-child(5) {
  & > button {
    width: 100%;
    & p {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 880px) {
  .form-body {
    grid-template-columns: 100%;
    gap: 50px;
    & .form-body__email {
      width: 100%;
      & h1 {
        margin-inline: auto;
      }
      & > span {
        text-align: center;
      }
      & ol {
        flex-direction: row;
        margin-inline: auto;
        & li > h6 {
          margin: 0px 5px 0px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 535px) {
  .form-body__email {
    & h1 {
      font-size: 20px !important;
    }
  }
}
