.tech-tack-section * {
    box-sizing: border-box;
}

.tech-tack-section {
    margin: 0;
    margin-top: 2.5%;
    padding: 0;

    width: 100vw;
    height: 70vh;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(30, 30, 30);

    position: relative;
}

.tech-tack-section canvas {
    width: 50vw !important;
    height: 50vh !important;
    border-radius: 15px !important;
    border: none !important;
}

.tech-tack-section button {
    position: absolute;
    top: 10%;

    width: 80px;
    height: 30px !important;

    font-size: 13px;
}